html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

.header{
  background-color: $water;
  text-align: center;
  color: $white-font;
}

.contents{
  height: 100%;
  width: 100%;
  display: flex;
}

.left-contents{
  width: 300px;
  height: 100%;
  background-color: $dark-back;
  &__header{
    height: 100px;
    background-color: #253141;
    padding: $main-padding;
    margin-bottom: 20px;
    display: flex;
    &__user-name{
      width: 100%;
      color: $white-font;
      font-size: 16px;
      font-weight: bold;
      margin: auto;
    }
    &__left-icon{
      margin: auto;
      margin-right: 5px;
      color: $white-font;
    }
    &__right-icon{
      margin: auto;
      color: $white-font;
    }
  }
  
  &__group{
    padding: $main-padding;
    padding-bottom: 40px;
    background-color: $dark-back;
    &__name{
      color: $white-font;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    &__text{
      color: $white-font;
      font-size: 11px;
      font-weight: bold;
    }
  }
}

.right-contents{
  width: calc(100vw - 300px);
  background-color: $white-back;
  height: 100%;
  position: relative;
  &__header{
    margin-bottom: 46px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    &__text{
      width: 100%;
      padding: 35px 40px 0;
      &__group-name{
        font-size: 20px;
        margin-bottom: 15px;
        color: #333333;
      }
      &__members-name{
        font-size: 12px;
        color: $thin-font;
      }
    }
    &__btn{
      background-color: $white-back;
      color: $water;
      border: 1px solid $water;
      height: 40px;
      line-height: 40px;
      text-align: center;
      padding: $main-padding;
      margin-top: 28px;
      margin-right: 40px;
    }
  }
  &__message{
    padding: 0 40px 40px;
    &__title{
      display: flex;
      margin-bottom: 10px;
      &__name{
        font-size: 16px;
        font-weight: bold;
        color: $black-font;
        margin-right: 10px;
      }
      &__time{
        font-size: 12px;
        color: $thin-font;
      }
    }
    &__text{
      font-size: 14px;
      color: $black-font;
    }
  }
  &__footer{
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    &__box{
      height: 50px;
      background-color: $white-back;
      margin: auto;
      margin-right: 15px;
      margin-left: 40px;
      width: 100%;
      display: flex;
      &__message{
        width: 100%;
        font-size: 16px;
        color: $black-font;
        line-height: 50px;
        margin-left: 10px;
      }
      &__icon{
        margin: auto 10px auto 0;
        color: black;
        cursor: pointer;
        &__input{
          display: none;
        }
      }
    }
    &__btn{
      background-color: $water;
      height: 50px;
      width: 150px;
      line-height: 50px;
      text-align: center;
      margin: auto;
      margin-right: 40px;
      color: $white-font;
    }
  }
}